# logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.DS_Store

target

# next.js
node_modules
.next/
dist

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

rocksdb
